body{
  display: flex;
  justify-content: center;
  background-color: black;
}
.gamebox{
  background: url(carrot/img/background.png);
  width: 800px;
  height: 400px;
  background-size: cover;
  box-sizing: border-box;
  margin: 30px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.play{
  background-color: beige;
  border: 2px solid black;
  border-radius: 4px;
  outline: none;
  font-size: 40px;
  margin: 5px 0;
  cursor: pointer;
  position: relative;
  transition: all 100ms ease-in;
}
.stop{
  background-color: beige;
  border: 2px solid black;
  border-radius: 4px;
  outline: none;
  font-size: 40px;
  margin: 5px 0;
  cursor: pointer;
  display: none;
  transition: all 100ms ease-in;
}
.stop:hover{
  transform: scale(1.1);
}
.stop.active{
  display: block;
}
.stop.hidden{
  visibility: hidden;
}
.play:hover{
  transform: scale(1.1);
}
.play.hidden{
  display: none;
}
.timer{
  background-color: white;
  width: 100px;
  text-align: center;
  font-size: 20px;
  border: 2px solid black;
  border-radius: 4px;
  margin-bottom: 5px;
  user-select: none;
  cursor: auto;
}
.carrot-left{
  width: 50px;
  height: 50px;
  color: white;
  border: 1px solid black;
  border-radius: 50%;
  text-align: center;
  line-height: 55px;
  background-color: RGB(237, 146, 120);
  font-size: 35px;
  user-select: none;
  cursor: auto;
}
.paintboxmom{
  height: 63%;
  
  width: 100%;
  position:absolute;
  bottom: 0;
  border-radius: 20px;
}
.paintbox{
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 20px;
}
.bug{
  position: absolute;
  transition: all 100ms ease-in;
}
.bug:hover{
  transform: scale(1.2);
}
.monrat{
  width: 50px;
  height: 50px;
  position: absolute;
  transition: all 100ms ease-in;
}
.monrat:hover{
  transform: scale(1.2);
}
.lose{
  position: absolute;
  width: 300px;
  background-color: rgba(0,0,0, 0.7);
  bottom: 50px;
  border-radius: 20px;
  height: 100px;
  color: white;
  text-align: center;
  font-size: 30px;
  display: none;
  z-index: 100;
}
.reset{
  margin-top: 5px;
  width: 50px;
  height: 50px;
  background-color: beige;
  opacity: 1;
  outline: none;
  border: 1px solid black;
  border-radius: 10px;
  font-size: 30px;
  cursor: pointer;
  z-index: 100;
}
.reset:hover{
  transform: scale(1.1);
}
.win{
  position: absolute;
  width: 300px;
  background-color: rgba(0,0,0, 0.7);
  bottom: 50px;
  border-radius: 20px;
  height: 100px;
  color: white;
  text-align: center;
  font-size: 30px;
  display: none;
  z-index: 100;

}
.replay{
  position: absolute;
  width: 300px;
  background-color: rgba(0,0,0, 0.7);
  bottom: 50px;
  border-radius: 20px;
  height: 100px;
  color: white;
  text-align: center;
  font-size: 30px;
  display: none;
  z-index: 100;
  transition: all 100ms ease-in;
}
.replay.active{
  display: block;

}
.lose.active{
  display: block;
}
.win.active{
  display: block;
}